@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@font-face {
    font-family:'gótico';
    src: url(fonts/BLKCHCRY.TTF) format('truetype');
}
* {
  font-family: 'Times New Roman', Times, serif; 
}
body {
    background-image:linear-gradient(to right,#D6C4BB,#d6bea3 );
}
main {
background-color: white;
width: 600px;
padding: 5px;
margin:auto;
border-radius: 10px;
box-shadow: 5px 5px 15px #67a7af;
}

h1 {
    font-family:'gótico', arial, sans-serif;
    color: #D595DB; 
    text-align: center;  
    text-shadow: 1px 1px 2px #c9736c ;
}
h2 {
    color: #8B8BAE;
    font-family: 'lobster', Arial, sans-serif;
}
p {
    text-align: justify;
}