@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: black;
}

main{
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;
    min-width: 280px;
}

iframe{
    display: block;
    margin: auto;
    width: 300px;
    height: 400px;
}